@{
    ViewBag.Title = "Acerda de Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta aplicacion fue creada por tres estudiantes de Ingenieria de Sistemas de sexto semestre enfocados en distintas areas las cuales se especializan.</p>
<br />
<br />
<center>
    <table>
        <tr>
            <td>
                <img src="~/img/Laurent.jpg" alt="" width="300" />
                <br />
                <center>
                    <font id="nombresAbout">Laurent Castañeda - Jefe de Diseño de Software</font>
                </center>
            </td>
            <td>
                <img src="~/img/alomia.jpg" alt="" width="400" />
                <br />
                <center>
                    <font id="nombresAbout">Fabian Alomia - Jefe de Diseño</font>
                </center>
            </td>
            <td>
                <img src="~/img/jhonattan.jpg" alt="" width="320" />
                <br />
                <center>
                    <font id="nombresAbout">Jhonattan Herrera - Gerente General</font>
                </center>
                
            </td>
        </tr>
    </table>
</center>