@model IngSoftware.Models.Edificio

@{
    ViewBag.Title = "Borrar";
}

<h2>Delete</h2>

<h3>Esta seguro de borrar esto?</h3>
<div>
    <h4>Edificio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver atras", "Index")
        </div>
    }
</div>
